@media (max-width: 1180px) {
	.main-nav {
		&__search-wrapper {
			width: 50%;
		}
	}
	.collections {
		& h3 {
			font-size: 16px;
		}
		&__more {
			font-size: 12px;
		}
		&__item {
			width: 47%;
			height: 47%;
			& img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.player {
		&__wrapper {
			max-width: 980px;
		}
	}
}

@media (max-width: 1024px) {
	.main-nav {
		&__logo {
			margin-right: 0;
		}
		&__search-wrapper {
			width: 55%;
		}
	}
	.collections {
		& h3 {
			font-size: 16px;
		}
		&__more {
			font-size: 14px;
			margin-left: 0;
			margin-top: 5px;
		}
		&__item {
			--height: 65px;
			width: 100%;
			height: var(--height);
			background: #8f5aff;
			align-items: center;
			text-decoration: none;
			& img {
				width: var(--height);
			}
			& span {
				display: inline;
			}
		}
	}
}

@media (max-width: 768px) {
	.player__volume {
		display: none;
	}
}

@media (max-width: 576px) {
	.main-nav {
		justify-content: space-evenly;
		&__logo {
			width: 50%;
			& img {
				width: 100%;
				height: 100%;
			}
		}
		&__search-wrapper {
			width: 100%;
			align-items: center;
			margin-top: 20px;
			padding: 10px 10px;
			border: 2px solid #8f5aff;
			border-radius: 25px;
			background-color: #8e5aff2c;
		}
		&__search {
			width: 100%;
		}
		&__item {
			width: 49%;
			justify-content: center;
			padding: 10px 0;
			margin: 10px 0;
			border-radius: 25px;
			& span {
				border: none;
			}
		}
		&__toggler {
			display: flex;
		}
	}
	.side-nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
		padding: 0 10px;
		overflow: hidden;
		background-color: #f0f1f2;
		height: 0;
		box-shadow: 0px 13px 10px 0px rgba(34, 60, 80, 0.55);
		transition: 1s ease height;
		&.active {
			height: 340px;
			transition: 1s ease height;
		}
		&__close {
			display: flex;
		}
	}
	.collections {
		margin-top: 0;
		margin-bottom: 20px;
		& h3 {
			font-size: 22px;
		}
		&__item {
			width: 48%;
			& span {
				font-size: 14px;
			}
		}
	}
	.page-container {
		flex-wrap: wrap;
		margin: 0 auto;
		padding-top: 10px;
	}
	.sidebar {
		width: 100%;
		&__toggler {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 38px;
			height: 42px;
			& span {
				height: 100%;
			}
		}
	}
	.top-songs {
		width: 100%;
		&__wrapper {
			width: 100%;
		}
	}
	.tracklist {
		&__track {
			padding: 0;
		}
		&__left {
			align-items: center;
			overflow: hidden;
		}
		&__info {
			flex: 1;
			white-space: nowrap;
			overflow: hidden;
		}
		&__track-name,
		&__author {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.player {
		&__wrapper {
			padding: 0;
		}
		&__left {
			align-items: center;
		}
		&__volume {
			display: none;
		}
		&__duration {
			display: none;
		}
		&__line {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 5px;
			margin: 0;
		}
		&-btn {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__info-wrapper {
			flex: 1;
			overflow: hidden;
			white-space: nowrap;
		}
		&__text {
			overflow: hidden;
		}
		&__title,
		&__artist {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
